<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1>Hey, I'm Kevin Fitzhenry</h1>
    <p>Welcome to this Blog I built with Ruby on Rails.</p>
    <p>This is an entire paragraph with interesting information about myself.</p>
  </div>
</div>
